<html>
  <head>
    <title>Dunners' Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Dunners' Django Girls Blog</a></h1>
    </div>

    <div>
    <p>HI WORLD.</p>
    <p> I've made a WORKING BLOG.</p>
    <p> I went to a <a href="https://djangogirls.org">Django Girls</a> workshop in London today, where I learned (at a frustratingly slow and error-filled pace) Python and Django, and also a bit of HTML and CSS. We also (kind of) got to grips with Git Hub, Python Anywhere, and BASH.</p>
    <p> It's been <strong>crazy cool</strong>.</p>
    </div>

    <div>
      <h3><a href="">My first post</a></h3>
    </div>

  </body>
</html>
